In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/banknote-authentication-uci/BankNoteAuthentication.csv

In [2]:
df=pd.read_csv("../input/banknote-authentication-uci/BankNoteAuthentication.csv")

In [3]:
df.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [4]:
df.head(10)

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661  -2.80730 -0.44699      0
1   4.54590    8.1674  -2.45860 -1.46210      0
2   3.86600   -2.6383   1.92420  0.10645      0
3   3.45660    9.5228  -4.01120 -3.59440      0
4   0.32924   -4.4552   4.57180 -0.98880      0
5   4.36840    9.6718  -3.96060 -3.16250      0
6   3.59120    3.0129   0.72888  0.56421      0
7   2.09220   -6.8100   8.46360 -0.60216      0
8   3.20320    5.7588  -0.75345 -0.61251      0
9   1.53560    9.1772  -2.27180 -0.73535      0

In [11]:
x=df.iloc[:,:-1]

In [12]:
x.head(10)

   variance  skewness  curtosis  entropy
0   3.62160    8.6661  -2.80730 -0.44699
1   4.54590    8.1674  -2.45860 -1.46210
2   3.86600   -2.6383   1.92420  0.10645
3   3.45660    9.5228  -4.01120 -3.59440
4   0.32924   -4.4552   4.57180 -0.98880
5   4.36840    9.6718  -3.96060 -3.16250
6   3.59120    3.0129   0.72888  0.56421
7   2.09220   -6.8100   8.46360 -0.60216
8   3.20320    5.7588  -0.75345 -0.61251
9   1.53560    9.1772  -2.27180 -0.73535

In [17]:
#y=df.iloc[:,4:]
y=df.iloc[:,-1]

In [18]:
y.head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: class, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [21]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(x_train,y_train)

RandomForestClassifier()

In [22]:
y_pred=classifier.predict(x_test)

In [23]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [24]:
score

0.9878640776699029

In [25]:
import pickle
pickle_out=open("bank_note.pkl", "wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [27]:
classifier.predict([[-2,3,4,1]])

array([1])

In [ ]:
classifier.predict([[2,3,4,1]])